//< " ФАЙЛ СТИЛЕЙ ХЕДЕРА " >=============================================================================================================>//
.header {
  font-family: $fontReemKufi;
  position: relative;
  z-index: 1000;

  &__top {
    background-color: $colorDarkBlue;

    &-body {
      display: flex;
      align-items: center;

      @include fluid(padding-top, 16px, 8px, 320px, 1440px);
      @include fluid(padding-bottom, 16px, 8px, 320px, 1440px);
      @include fluid(gap, 140px, 0px, 320px, 1440px);
    }

    & ._container {
      position: relative;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__burger {
    background: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    color: $colorWhite;

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        color: $colorBlue;
      }
    }
  }

  &__logo {
    width: 100%;
    max-width: 115px;
  }

  &__menu {
    display: flex;
    align-items: center;
    @include fluid(gap, 140px, 0px, 320px, 1440px);
  }

  &__close {
    display: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    color: $colorGray;

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        color: $colorBlue;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @include fluid(gap, 40px, 20px, 320px, 1440px);

    &-link {
      font-weight: 600;
      letter-spacing: 0.02em;
      color: $colorGray;

      @include fluid(font-size, 20px, 16px, 320px, 1440px);
      @include fluid(line-height, 26px, 22px, 320px, 1440px);

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $colorBlue;
        }
      }
    }
  }

  &__region {
    display: flex;
    align-items: center;

    @include fluid(gap, 8px, 4px, 320px, 1440px);

    &-text {
      color: $colorGray;
      font-weight: 400;

      @include fluid(font-size, 20px, 16px, 320px, 1440px);
      @include fluid(line-height, 26px, 22px, 320px, 1440px);
    }
  }

  &__login {
    position: absolute;
    right: 15px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: $colorDarkBlue;
    padding: 10px;
    padding-bottom: 12px;
    z-index: 2;
    // background: url("../img/header/banner.svg") 0 0 / contain no-repeat;
    background: $colorBlue;

    &:before,
    &:after {
      transition: all 0.3s ease 0s;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      left: 0%;
      width: 0;
      height: 0;
      border-top: 16px solid $colorBlue;
      border-right: 32px solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      right: 0%;
      width: 0;
      height: 0;
      border-top: 16px solid $colorBlue;
      border-left: 32px solid transparent;
    }

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background: $colorGreen;

        &::before,
        &::after {
          border-top-color: $colorGreen;
        }
      }
    }

    i {
      --size: 32px;
    }

    span {
      font-weight: 500;
      text-align: center;

      @include fluid(font-size, 14px, 12px, 320px, 1440px);
      @include fluid(line-height, 16px, 14px, 320px, 1440px);
    }
  }

  &__menu-backward {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;

    &._active {
      pointer-events: all;
    }
  }

  @media (max-width: 992px) {
    &__burger {
      display: flex;
    }
    &__close {
      display: flex;
    }

    &__menu {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      width: 50%;
      height: 100%;
      left: -100%;
      top: 0;
      z-index: 100;
      background: rgba(16, 25, 56, 0.9);
      gap: 30px;
      transition: all 0.4s ease;

      &._active {
        left: 0;
      }
    }

    &__nav {
      flex-direction: column;
      align-items: flex-start;

      &-link {
        @include fluid(font-size, 26px, 20px, 320px, 992px);
        @include fluid(line-height, 30px, 24px, 320px, 992px);
      }
    }

    &__region {
      &-text {
        @include fluid(font-size, 26px, 22px, 320px, 992px);
        @include fluid(line-height, 30px, 26px, 320px, 992px);
      }
      & .dropdown {
        &-value {
          @include fluid(font-size, 26px, 22px, 320px, 992px);
          @include fluid(line-height, 30px, 26px, 320px, 992px);
        }

        i {
          --size: 12px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__menu {
      width: 100%;
      max-width: 320px;
    }
  }
}
