.main {
  background: url("../img/home/main/bg.jpg") 0 0 / cover no-repeat;
  overflow: auto;
  @include scrollbars(0px, transparent, transparent, 0px);

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;

    @include fluid(padding-top, 41px, 15px, 320px, 1440px);
    @include fluid(padding-bottom, 41px, 15px, 320px, 1440px);
  }

  &__auth {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease 0s;

    @include fluid(padding-top, 41px, 15px, 320px, 1440px);
    @include fluid(padding-bottom, 41px, 15px, 320px, 1440px);
    @include fluid(padding-right, 60px, 0px, 768px, 1440px);

    &.active {
      pointer-events: all;
      opacity: 0.9;
      display: flex;

      & .main__backward {
        pointer-events: none;
        opacity: 1;
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include fluid(gap, 24px, 12px, 320px, 1440px);
  }

  &__block {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    @include fluid(gap, 24px, 12px, 320px, 1440px);

    &:before,
    &:after {
      content: "";
      width: 2px;
      background: $colorGray;

      @include fluid(height, 160px, 60px, 320px, 1440px);
      @include fluid(margin-left, 95px, 20px, 320px, 1440px);
    }
  }

  &__logo {
    width: 100%;

    img,
    picture {
      width: 100%;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include fluid(max-width, 768px, 440px, 768px, 1440px);
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    @include fluid(gap, 24px, 12px, 320px, 1440px);
  }

  &__desc {
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $colorGray;
    width: 100%;
    max-width: 334px;

    @include fluid(font-size, 18px, 14px, 320px, 1440px);
    @include fluid(line-height, 28px, 24px, 320px, 1440px);
  }

  &__buttons {
    display: flex;

    @include fluid(gap, 16px, 10px, 320px, 1440px);
  }

  &__button {
    font-weight: 500;
    color: $colorDarkBlue;
    white-space: nowrap;

    @include fluid(font-size, 16px, 12px, 320px, 1440px);
    @include fluid(line-height, 19px, 15px, 320px, 1440px);
    @include fluid(padding-top, 16px, 12px, 320px, 1440px);
    @include fluid(padding-bottom, 16px, 12px, 320px, 1440px);
    @include fluid(padding-left, 24px, 20px, 320px, 1440px);
    @include fluid(padding-right, 24px, 20px, 320px, 1440px);

    &.green {
      background: $colorGreen;

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          background: $colorBlue;
        }
      }
    }

    &.blue {
      background: $colorBlue;

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          background: $colorGreen;
        }
      }
    }
  }

  &__contacts {
    display: flex;

    @include fluid(gap, 32px, 20px, 320px, 1440px);
    @include fluid(margin-left, 28px, 0px, 320px, 1440px);
  }

  &__contact {
    color: $colorGray;
    opacity: 0.5;

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__statistics {
    display: flex;
    flex-direction: column;

    @include fluid(gap, 12px, 6px, 320px, 1440px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-left: 8px solid $colorGreen;
    backdrop-filter: blur(11.5px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.01) 100%);
    gap: 4px;

    @include fluid(padding, 16px, 10px, 320px, 1440px);

    &.ended {
      border-color: $colorYellow;
    }

    &-top,
    &-bottom {
      display: flex;
      justify-content: space-between;
      @include fluid(gap, 32px, 16px, 320px, 1440px);
    }

    &-top {
      align-items: center;
      font-family: $fontReemKufi;
    }

    &-bottom {
      align-items: flex-end;
    }

    &-name {
      font-weight: 400;
      color: $colorGray;

      @include fluid(font-size, 24px, 18px, 320px, 1440px);
      @include fluid(line-height, 28px, 22px, 320px, 1440px);
    }

    &-statisctic {
      display: flex;
      align-items: center;
      font-weight: 400;

      @include fluid(font-size, 20px, 16px, 320px, 1440px);
      @include fluid(gap, 16px, 10px, 320px, 1440px);

      & span:nth-child(1) {
        color: $colorBlue;
      }

      & span:nth-child(2) {
        color: $colorGray;
      }

      & span:nth-child(3) {
        color: $colorRed;
      }
    }

    &-date {
      font-weight: 400;
      color: $colorGray;

      @include fluid(font-size, 16px, 12px, 320px, 1440px);
    }

    &-read {
      text-decoration: underline;
      background: transparent;
      color: $colorGray;

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          text-decoration: none;
          color: $colorBlue;
        }
      }
    }

    &-status {
      display: flex;
      align-items: center;
      gap: 8px;

      &-indicator {
        border-radius: 45px;
        padding: 4px 16px;
        background-color: $colorGreen;
        font-weight: 600;

        @include fluid(font-size, 14px, 10px, 320px, 1440px);
      }

      &-time {
        font-weight: 400;
        color: $colorGray;

        @include fluid(font-size, 16px, 12px, 320px, 1440px);
      }
    }
  }

  &__registraion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 348px;

    @include fluid(gap, 16px, 12px, 320px, 1440px);
  }

  &__crown {
    color: $colorGrayBlue;

    @include fluid(--size, 60px, 30px, 320px, 1440px);
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $colorGrayBlue;
    position: relative;

    @include fluid(padding-top, 32px, 16px, 320px, 1440px);
    @include fluid(padding-left, 32px, 16px, 320px, 1440px);
    @include fluid(padding-right, 32px, 16px, 320px, 1440px);
    @include fluid(padding-bottom, 40px, 20px, 320px, 1440px);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      display: block;
      width: 0;
      height: 0;
      border-top: 38px solid $colorGrayBlue;
      border-right: 338px solid transparent;

      @include fluid(border-top-width, 38px, 20px, 320px, 1440px);
      @include fluid(border-right-width, 338px, 275px, 320px, 1440px);
    }

    &-title {
      font-family: $fontReemKufi;
      font-weight: 700;
      text-align: center;

      @include fluid(font-size, 36px, 32px, 320px, 1440px);
      @include fluid(line-height, 54px, 50px, 320px, 1440px);
      @include fluid(margin-bottom, 8px, 4px, 320px, 1440px);
    }

    &-auth {
      font-weight: 400;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: $colorBlue;

      @include fluid(font-size, 18px, 14px, 320px, 1440px);
      @include fluid(line-height, 21px, 17px, 320px, 1440px);
      @include fluid(margin-bottom, 24px, 12px, 320px, 1440px);

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $colorGreen;
        }
      }
    }

    &-fields {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 24px, 12px, 320px, 1440px);
    }

    &-field {
      background: transparent;
      border-bottom: 1px solid rgba(233, 233, 233, 0.3);
      resize: none;
      color: $colorGray;

      @include fluid(padding, 8px, 4px, 320px, 1440px);
      @include fluid(font-size, 18px, 14px, 320px, 1440px);
      @include fluid(line-height, 21px, 17px, 320px, 1440px);

      &::placeholder {
        color: $colorGray;
      }
    }

    &-submit {
      font-weight: 500;
      color: $colorGrayBlue;
      background: $colorGreen;

      @include fluid(font-size, 16px, 14px, 320px, 1440px);
      @include fluid(padding-top, 16px, 8px, 320px, 1440px);
      @include fluid(padding-bottom, 16px, 8px, 320px, 1440px);

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          background: $colorBlue;
        }
      }
    }
  }

  &__backward {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $colorBg;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }

  @media (max-width: 992px) {
    &__registraion {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    &__body {
      flex-direction: column;
    }
    &__col {
      max-width: 100%;
    }
    &__statistics {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__auth {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      padding-bottom: 40px;
    }

    &__registraion {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    &__left {
      align-items: center;
    }
    &__row {
      flex-direction: column;
    }
    &__block {
      align-items: center;
      &:before,
      &:after {
        margin-left: 0;
      }
    }
    &__desc {
      text-align: center;
    }
    &__contacts {
      margin: 0;
    }
  }
}
