.news {
  background: url("../img/news/bg.jpg") 0 0 / cover no-repeat;

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-content: center;

    @include fluid(column-gap, 25px, 10px, 320px, 1440px);
    @include fluid(row-gap, 40px, 20px, 320px, 1440px);
    @include fluid(padding-top, 16px, 8px, 320px, 1440px);
    @include fluid(padding-bottom, 160px, 40px, 320px, 1440px);
  }

  &__card {
    display: flex;
    flex-direction: column;

    @include fluid(gap, 16px, 8px, 320px, 1920px);

    &-img {
      position: relative;
      width: 100%;

      img,
      picture {
        width: 100%;
      }
    }

    &-info {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      gap: 4px;
      background: linear-gradient(180deg, rgba(21, 32, 69, 0) 0%, #152045 100%);
      backdrop-filter: blur(4px);

      @include fluid(padding-top, 21px, 15px, 320px, 1920px);
      @include fluid(padding-bottom, 27px, 20px, 320px, 1920px);
      @include fluid(padding-left, 20px, 14px, 320px, 1920px);
      @include fluid(padding-right, 20px, 14px, 320px, 1920px);
    }

    &-title {
      font-weight: 700;
      font-family: $fontReemKufi;

      @include fluid(font-size, 24px, 20px, 320px, 1920px);
      @include fluid(line-height, 36px, 32px, 320px, 1920px);
    }

    &-subtitle {
      font-weight: 400;

      @include fluid(font-size, 20px, 16px, 320px, 1920px);
      @include fluid(line-height, 23px, 19px, 320px, 1920px);
    }

    &-text {
      display: flex;
      flex-direction: column;

      @include fluid(gap, 16px, 8px, 320px, 1920px);
    }

    &-date {
      color: rgb(233, 233, 233, 0.5);

      @include fluid(font-size, 14px, 10px, 320px, 1920px);
      @include fluid(line-height, 16px, 12px, 320px, 1920px);
    }

    &-desc {
      font-weight: 400;

      @include fluid(font-size, 16px, 12px, 320px, 1920px);
      @include fluid(line-height, 18px, 14px, 320px, 1920px);
    }

    &-read {
      font-weight: 400;
      color: $colorBlue;
      text-decoration: underline;
      text-decoration-skip-ink: none;

      @include fluid(font-size, 18px, 14px, 320px, 1920px);
      @include fluid(line-height, 21px, 17px, 320px, 1920px);

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
