<section class='begin'>
  <div class='begin__wrapper'>
    <div class='begin__container _container'>
      <div class='begin__body'>
        <div class="begin__top">
          <div class="begin__left">

            <h2 class="begin__title">How to begin?</h2>

            <div class="begin__steps">
              <div class="begin__step">
                <h3 class="begin__step-title">
                  <span class="begin__step-order">1</span>
                  Create a Stormforge account
                </h3>

                <p class="begin__step-desc">
                  First, you have to create your WarCrown account. You can do that by clicking the button below
                </p>

                <button class="begin__step-button green">Create account</button>
              </div>

              <div class="begin__step step-2">
                <h3 class="begin__step-title">
                  <span class="begin__step-order">2</span>
                  Confirm your e-mail address
                </h3>

                <p class="begin__step-desc">
                  To complete the registration process, you need to confirm your e-mail address. Go to your inbox and
                  find
                  the e-mail with the activation link!
                </p>

                <button class="begin__step-button blue">Resend verification code</button>
              </div>

              <div class="begin__step">
                <h3 class="begin__step-title">
                  <span class="begin__step-order">3</span>
                  Download game client
                </h3>

                <p class="begin__step-desc">
                  Download the client you want to play on.
                </p>

              </div>
            </div>


          </div>

          <div class="begin__orc">
            <img src="./img/begin/trall.png" alt="">
          </div>
        </div>

        <div class="begin__banners">
          <div class="begin__banner">
            <div class="begin__banner-img">
              <img src="./img/begin/banner-1.jpg" alt="">

              <div class="begin__banner-info">
                <div class="begin__banner-texts">
                  <h4 class="begin__banner-title">
                    Netherwing / Outland
                  </h4>

                  <p class="begin__banner-desc">
                    The Burning Crusade
                  </p>
                </div>

                <button class="begin__banner-download">
                  <i class="icon-download"></i>

                  <span>
                    Download game
                  </span>

                  <i class="icon-dots"></i>
                </button>
              </div>
            </div>

            <div class="begin__banner-supports">
              <p class="begin__banner-option">
                <span class="blue">Supported OS:</span> Windows 7, 8, 10 Applies to all game clients.
              </p>

              <p class="begin__banner-option">
                <span class="blue">Language</span> RU / ENG
              </p>
            </div>
          </div>
          <div class="begin__banner">
            <div class="begin__banner-img">
              <img src="./img/begin/banner-2.jpg" alt="">

              <div class="begin__banner-info">
                <div class="begin__banner-texts">
                  <h4 class="begin__banner-title">
                    Netherwing / Outland
                  </h4>

                  <p class="begin__banner-desc">
                    The Burning Crusade
                  </p>
                </div>

                <button class="begin__banner-download">
                  <i class="icon-download"></i>

                  <span>
                    Download game
                  </span>

                  <i class="icon-dots"></i>
                </button>
              </div>
            </div>

            <div class="begin__banner-supports">
              <p class="begin__banner-option">
                <span class="blue">Supported OS:</span> Windows 7, 8, 10 Applies to all game clients.
              </p>

              <p class="begin__banner-option">
                <span class="blue">Language</span> RU / ENG
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>