<section class='faq'>
  <div class='faq__wrapper'>
    <div class='faq__container _container'>
      <div class='faq__body'>
        <div class="faq__spollers" data-spollers data-one-spoller>
          <h2 class="faq__title">FaQ</h2>

          <div class="faq__list">
            <div class="faq__item">
              <h3 class="faq__item-title" data-spoller>Why WarCrown?</h3>

              <p class="faq__item-text">
                Our team has worked on private servers for over a decade. We offer stability, safety, experience and
                dedication unrivalled in the scene.
              </p>
            </div>

            <div class="faq__item">
              <h3 class="faq__item-title _active" data-spoller>How to begin?</h3>

              <p class="faq__item-text">
                Our team has worked on private servers for over a decade. We offer stability, safety, experience and
                dedication unrivalled in the scene.
              </p>
            </div>

            <div class="faq__item">
              <h3 class="faq__item-title" data-spoller>Is there sales or promocodes?</h3>

              <p class="faq__item-text">
                Our team has worked on private servers for over a decade. We offer stability, safety, experience and
                dedication unrivalled in the scene.
              </p>
            </div>

            <div class="faq__item">
              <h3 class="faq__item-title" data-spoller>Why is it slow?</h3>

              <p class="faq__item-text">
                Our team has worked on private servers for over a decade. We offer stability, safety, experience and
                dedication unrivalled in the scene.
              </p>
            </div>

            <div class="faq__item">
              <h3 class="faq__item-title" data-spoller>How to choose weapon?</h3>

              <p class="faq__item-text">
                Our team has worked on private servers for over a decade. We offer stability, safety, experience and
                dedication unrivalled in the scene.
              </p>
            </div>
          </div>
        </div>

        <div class="faq__question">
          <i class="icon-crown faq__crown"></i>

          <div class="faq__form">
            <h3 class="faq__form-title">Have questions?</h3>
            <a href="#" class="faq__form-auth">Already registered?</a>

            <div class="faq__form-fields">
              <input type="text" placeholder="Name" class="faq__form-field">
              <input type="text" placeholder="E-mail" class="faq__form-field">
              <input type="password" placeholder="Password" class="faq__form-field">
              <textarea type="text" placeholder="Your question" class="faq__form-field"></textarea>
              <button class="faq__form-submit">Continue</button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>