<div class="feed">
  <div class="_container">
    <div class="feed__body">
      <div class="feed__main">
        <div class="feed__game">
          <span class="feed__game-text">World name: </span>
          <div class="feed__game-winner blue">
            <i class="icon-trophy"></i>
            <span>Blue</span>
          </div>
          <div class="feed__game-score">
            5:25 | 17.02
          </div>
        </div>

        <div class="feed__game">
          <span class="feed__game-text">World name: </span>
          <div class="feed__game-winner blue">
            <i class="icon-trophy"></i>
            <span>Red</span>
          </div>
          <div class="feed__game-score">
            5:25 | 17.02
          </div>
        </div>

        <div class="feed__game">
          <span class="feed__game-text">World name: </span>
          <div class="feed__game-winner">
            <i class="icon-trophy"></i>
            <span>Draw</span>
          </div>
          <div class="feed__game-score">
            5:25 | 17.02
          </div>
        </div>

        <div class="feed__new">
          <span class="feed__new-category">NEWS:</span>
          <span class="feed__new-title"> Incoming event. Take part in it.</span>
          <span class="feed__new-date">16.02.2025 </span>
        </div>

        <div class="feed__new">
          <span class="feed__new-category">UPD:</span>
          <span class="feed__new-title">Server: updated.</span>
          <span class="feed__new-date">16.02.2025 </span>
        </div>

        <div class="feed__new">
          <span class="feed__new-category">UPD:</span>
          <span class="feed__new-title">Server: updated.</span>
          <span class="feed__new-date">16.02.2025 </span>
        </div>
      </div>
    </div>
  </div>
</div>