<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__body">
      <div class="footer__main">
        <div class="_container">
          <div class="footer__block">
            <a href="./index.html" class="footer__logo">
              <img src="./img/logo.svg" alt="">
            </a>

            <p class="footer__desc">
              The name "Warcraft" was proposed by Blizzard developer Sam Didier, and was chosen because "it sounded
              super cool".
            </p>
          </div>

          <div class="footer__col">
            <h5 class="footer__title">Navigation</h5>
            <a href="#" class="footer__link">Main</a>
            <a href="#" class="footer__link">Shop</a>
            <a href="./faq.html" class="footer__link">FAQ</a>
            <a href="./news.html" class="footer__link">News</a>
          </div>

          <div class="footer__col">
            <h5 class="footer__title">Other</h5>
            <a href="#" class="footer__link">Gwarantee</a>
            <a href="#" class="footer__link">Invoice</a>
            <a href="#" class="footer__link">Support</a>
            <a href="#" class="footer__link">How to play</a>
          </div>

          <div class="footer__col">
            <h5 class="footer__title">Support</h5>
            <div class="footer__contacts">
              <a href="#" class="footer__contact">
                <i class="icon-telegram"></i>
              </a>

              <a href="#" class="footer__contact">
                <i class="icon-discord"></i>
              </a>

              <a href="#" class="footer__contact">
                <i class="icon-gmail"></i>
              </a>
            </div>
          </div>

          <div class="footer__col">
            <h5 class="footer__title">Subscribe</h5>
            <div class="footer__contacts">
              <a href="#" class="footer__contact">
                <i class="icon-telegram"></i>
              </a>

              <a href="#" class="footer__contact">
                <i class="icon-discord"></i>
              </a>

              <a href="#" class="footer__contact">
                <i class="icon-gmail"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__rights">
        <div class="_container">
          <p class="footer__rights-text">
            Все права защищены. Любое копирование материалов разрешено только с согласия правообладателя.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>