<header class="header">
  <div class="header__menu-backward"></div>
  <div class="header__wrapper">
    <div class="header__body">

      <div class="header__top">
        <div class="_container">
          <div class="header__top-body">

            <div class="header__left">

              <button class="header__burger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M3 6h18M3 12h18M3 18h18" />
                </svg>
              </button>

              <a href="./index.html" class="header__logo">
                <img src="./img/logo.svg" alt="Logo">
              </a>
            </div>

            <div class="header__menu">

              <button class="header__close">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4" />
                </svg>
              </button>

              <nav class="header__nav">
                <a href="./begin.html" class="header__nav-link">How to begin?</a>
                <a href="./news.html" class="header__nav-link">News</a>
                <a href="./forum-official.html" class="header__nav-link">Forum</a>
                <a href="#" class="header__nav-link">Shop</a>
                <a href="#" class="header__nav-link">Logs</a>
                <a href="./faq.html" class="header__nav-link">FAQ</a>
              </nav>

              <div class="header__region">
                <span class="header__region-text">Region:</span>
                <div class="dropdown">
                  <div class="dropdown-value">
                    <span>USA</span>
                    <i class="icon-arrow-down"></i>
                  </div>

                  <div class="dropdown-flag">
                    <img src="./img/header/usa-flag.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <button class="header__login">
              <i class="icon-orc"></i>
              <span>log out</span>
            </button>

          </div>
        </div>
      </div>


    </div>
  </div>
</header>