<section class='lich'>
  <div class='lich__wrapper'>
    <div class='lich__container _container'>
      <div class='lich__body'>
        <div class="lich__info">
          <h2 class="lich__title">Wrath of the Lich King</h2>
          <p class="lich__desc">Now that I’ve been able to spend more time in Wrath of the Lich King Classic and raiding
            is in full swing, I have started to remember everything I enjoyed about Wrath the first time around. The
            second time around still feels more buggy than the first time, but I am enjoying the experience.</p>
          <button class="lich__button">Join game</button>
        </div>
      </div>
    </div>
  </div>
</section>