<section class='main'>
  <div class='main__wrapper'>
    <div class='main__container _container'>
      <div class='main__body'>

        <div class="main__auth">
          <div class="main__backward"></div>

          <div class="main__left">
            <div class="main__block">
              <div class="main__col">
                <div class="main__logo">
                  <img src="./img/logo.svg" alt="">
                </div>

                <div class="main__row">
                  <p class="main__desc">where legends are forged, heroes rise, and Azeroth’s greatest battles await!</p>

                  <div class="main__buttons">
                    <button class="main__button green">
                      Join game
                    </button>

                    <button class="main__button blue">
                      Как играть?
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="main__contacts">
              <a href="#" class="main__contact">
                <i class="icon-telegram"></i>
              </a>
              <a href="#" class="main__contact">
                <i class="icon-discord"></i>
              </a>
              <a href="#" class="main__contact">
                <i class="icon-gmail"></i>
              </a>
            </div>
          </div>

          <div class="main__registraion">
            <i class="icon-crown main__crown"></i>

            <div class="main__form">
              <h3 class="main__form-title">Registration</h3>
              <a href="#" class="main__form-auth">Already registered?</a>

              <div class="main__form-fields">
                <input type="text" placeholder="Name" class="main__form-field">
                <input type="text" placeholder="E-mail" class="main__form-field">
                <input type="password" placeholder="Password" class="main__form-field">
                <input type="password" placeholder="Repeat password" class="main__form-field">
                <button class="main__form-submit">Continue</button>


              </div>
            </div>
          </div>
        </div>

        <div class="main__left">
          <div class="main__block">
            <div class="main__col">
              <div class="main__logo">
                <img src="./img/logo.svg" alt="">
              </div>

              <div class="main__row">
                <p class="main__desc">where legends are forged, heroes rise, and Azeroth’s greatest battles await!</p>

                <div class="main__buttons">
                  <button class="main__button green">
                    Join game
                  </button>

                  <button class="main__button blue">
                    Как играть?
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="main__contacts">
            <a href="#" class="main__contact">
              <i class="icon-telegram"></i>
            </a>
            <a href="#" class="main__contact">
              <i class="icon-discord"></i>
            </a>
            <a href="#" class="main__contact">
              <i class="icon-gmail"></i>
            </a>
          </div>
        </div>

        <div class="main__statistics">
          <div class="main__card ended">
            <div class="main__card-top">
              <div class="main__card-name">World name</div>
              <div class="main__card-statisctic">
                <span>70%</span>
                <span>1%</span>
                <span>29%</span>
              </div>
            </div>

            <div class="main__card-bottom">
              <div class="main__card-date">27 Feb. 2025, 19:00 CET</div>
              <button class="main__card-read">read more</button>
            </div>
          </div>

          <div class="main__card">
            <div class="main__card-top">
              <div class="main__card-name">World name</div>
              <div class="main__card-statisctic">
                <span>70%</span>
                <span>1%</span>
                <span>29%</span>
              </div>
            </div>

            <div class="main__card-bottom">
              <div class="main__card-status">
                <div class="main__card-status-indicator">Online</div>
                <div class="main__card-status-time">16d 0h</div>
              </div>
            </div>
          </div>

          <div class="main__card">
            <div class="main__card-top">
              <div class="main__card-name">World name</div>
              <div class="main__card-statisctic">
                <span>70%</span>
                <span>1%</span>
                <span>29%</span>
              </div>
            </div>

            <div class="main__card-bottom">
              <div class="main__card-status">
                <div class="main__card-status-indicator">Online</div>
                <div class="main__card-status-time">16d 0h</div>
              </div>
            </div>
          </div>

          <div class="main__card">
            <div class="main__card-top">
              <div class="main__card-name">World name</div>
              <div class="main__card-statisctic">
                <span>70%</span>
                <span>1%</span>
                <span>29%</span>
              </div>
            </div>

            <div class="main__card-bottom">
              <div class="main__card-status">
                <div class="main__card-status-indicator">Online</div>
                <div class="main__card-status-time">16d 0h</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>