<section class='mission'>
  <div class='mission__wrapper'>
    <div class='mission__container _container'>
      <div class='mission__body'>
        <div class="mission__top">
          <div class="mission__text">
            <h2 class="mission__title">Our mission</h2>

            <p class="mission__desc">
              Now that I’ve been able to spend more time in Wrath of the Lich King Classic and raiding is in full swing,
              I
              have started to remember everything I enjoyed about Wrath the first time around. The second time around
              still feels more buggy than the first time, but I am enjoying the experience.
            </p>
          </div>

          <div class="mission__gallery">
            <div class="mission__img">
              <img src="./img/mission/img-1.jpg" alt="">
            </div>

            <div class="mission__img">
              <img src="./img/mission/img-2.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="mission__list swiper">
          <div class="swiper-wrapper">
            <div class="mission__mission swiper-slide">
              <h4 class="mission__mission-year">
                2025
              </h4>

              <p class="mission__mission-text">
                Smth about the project in two-three lines. Smth about the project in two-three lines.
              </p>
            </div>

            <div class="mission__mission swiper-slide">
              <h4 class="mission__mission-year">
                2025
              </h4>

              <p class="mission__mission-text">
                Smth about the project in two-three lines. Smth about the project in two-three lines.
              </p>
            </div>

            <div class="mission__mission swiper-slide">
              <h4 class="mission__mission-year">
                2025
              </h4>

              <p class="mission__mission-text">
                Smth about the project in two-three lines. Smth about the project in two-three lines.
              </p>
            </div>

            <div class="mission__mission swiper-slide">
              <h4 class="mission__mission-year">
                2025
              </h4>

              <p class="mission__mission-text">
                Smth about the project in two-three lines. Smth about the project in two-three lines.
              </p>
            </div>

            <div class="mission__mission swiper-slide">
              <h4 class="mission__mission-year">
                2025
              </h4>

              <p class="mission__mission-text">
                Smth about the project in two-three lines. Smth about the project in two-three lines.
              </p>
            </div>
          </div>
        </div>

        <div class="mission__progress"></div>
      </div>
    </div>
  </div>
</section>