<div class="sidebar">
  <h2 class="sidebar__title">What to read next?</h2>

  <div class="sidebar__cards">
    <div class="sidebar__card">
      <div class="sidebar__card-top">
        <h4 class="sidebar__card-subtitle">Server updated</h4>
        <p class="sidebar__card-date">03.02.2024</p>
      </div>

      <h3 class="sidebar__card-title">Return to Outland</h3>

      <p class="sidebar__card-desc">
        The name "Warcraft" was proposed by Blizzard developer Sam Didier, and was chosen because "it sounded super
        cool".
      </p>

      <button class="sidebar__card-read">
        Read more
      </button>
    </div>

    <div class="sidebar__card">
      <div class="sidebar__card-top">
        <h4 class="sidebar__card-subtitle">Server updated</h4>
        <p class="sidebar__card-date">03.02.2024</p>
      </div>

      <h3 class="sidebar__card-title">Return to Outland</h3>

      <p class="sidebar__card-desc">
        The name "Warcraft" was proposed by Blizzard developer Sam Didier, and was chosen because "it sounded super
        cool".
      </p>

      <button class="sidebar__card-read">
        Read more
      </button>
    </div>

    <div class="sidebar__card">
      <div class="sidebar__card-top">
        <h4 class="sidebar__card-subtitle">Server updated</h4>
        <p class="sidebar__card-date">03.02.2024</p>
      </div>

      <h3 class="sidebar__card-title">Return to Outland</h3>

      <p class="sidebar__card-desc">
        The name "Warcraft" was proposed by Blizzard developer Sam Didier, and was chosen because "it sounded super
        cool".
      </p>

      <button class="sidebar__card-read">
        Read more
      </button>
    </div>
  </div>
</div>