<article class='post'>

  <div class="post__img">
    <img src="./img/news/post.jpg" alt="">
  </div>

  <div class="post__info">

    <div class="post__top">
      <h4 class="post__subtitle">Server updated</h4>


      <div class="post__right">
        <div class="post__likes">
          <div class="post__like active">
            <i class="icon-like"></i>

            <span>1 203</span>
          </div>

          <div class="post__like">
            <i class="icon-dislike"></i>

            <span>1 203</span>
          </div>
        </div>

        <p class="post__date">03.02.2024</p>
      </div>
    </div>

    <h3 class="post__title">Return to Outland</h3>

    <p class="post__desc">
      So with the 17th Anniversary coming up soon and, from my understanding, the event being tied with the BC in
      some way… I got to wondering if we could end up returning to Outland in some manner in the future. Like we end
      up with another version of Outland with the Dark Portal opening all Void-like and we head in to see that the
      Void staked a claim on the shattered realm and we realign with those left behind there to help beat it back.
      Or even if another chuck of Outland is revealed or some other shattered realm gets connected in some way to
      Outland like K’aresh.
    </p>

    <p class="post__desc">
      Anyways while I am intrigued as to what has happened to the place over the years, I am also curious if anyone
      wants would want a return to Outland or a Outland 2.0 type setting.
    </p>
  </div>

</article>