<section class='war'>
  <div class='war__wrapper'>
    <div class="war__elf">
      <img src="./img/home/war/elf.png" alt="">
    </div>
    <div class='war__container _container'>

      <div class='war__body'>

        <div class="war__elf mob">
          <img src="./img/home/war/elf.png" alt="">
        </div>

        <div class="war__info">
          <h2 class="war__title">The War Within</h2>
          <p class="war__desc">Now that I’ve been able to spend more time in Wrath of the Lich King Classic and raiding
            is in full swing, I have started to remember everything I enjoyed about Wrath the first time around. The
            second time around still feels more buggy than the first time, but I am enjoying the experience.</p>
          <button class="war__button">Join game</button>
        </div>
      </div>
    </div>
  </div>
</section>