<div class="list" data-spollers>
  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/community/discussion.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">General Discussion</h4>
          <h5 class="list__item-desc">Professions-related conversations.</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Professions issues</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">5</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">10</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/community/avatar.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">CatWoman</div>
            <div class="list__item-time">A moment ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pve.png" alt="">

            </div>
            <span class="list__item-perk-text"> Raids & Dungeons </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pvp.png" alt="">

            </div>
            <span class="list__item-perk-text"> Player vs Player </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/community/classes.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Classes</h4>
          <h5 class="list__item-desc">Professions-related conversations.</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Professions issues</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">5</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">10</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/community/avatar.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">CatWoman</div>
            <div class="list__item-time">A moment ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/death-knight.png" alt="">

            </div>
            <span class="list__item-perk-text"> Death Knight </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/paladin.png" alt="">

            </div>
            <span class="list__item-perk-text"> Paladin </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warrior.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warrior </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/druid.png" alt="">

            </div>
            <span class="list__item-perk-text"> Druid </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/priest.png" alt="">

            </div>
            <span class="list__item-perk-text"> Priest </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/hunter.png" alt="">

            </div>
            <span class="list__item-perk-text"> Hunter </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/rogue.png" alt="">

            </div>
            <span class="list__item-perk-text"> Rogue </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/mage.png" alt="">

            </div>
            <span class="list__item-perk-text"> Mage </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/shaman.png" alt="">

            </div>
            <span class="list__item-perk-text"> Shaman </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/monk.png" alt="">

            </div>
            <span class="list__item-perk-text"> Monk </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warlock.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warlock </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/community/professions.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Professions</h4>
          <h5 class="list__item-desc">Professions-related conversations.</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Professions issues</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">5</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">10</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/community/avatar.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">CatWoman</div>
            <div class="list__item-time">A moment ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/death-knight.png" alt="">

            </div>
            <span class="list__item-perk-text"> Death Knight </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/paladin.png" alt="">

            </div>
            <span class="list__item-perk-text"> Paladin </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warrior.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warrior </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/druid.png" alt="">

            </div>
            <span class="list__item-perk-text"> Druid </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/priest.png" alt="">

            </div>
            <span class="list__item-perk-text"> Priest </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/hunter.png" alt="">

            </div>
            <span class="list__item-perk-text"> Hunter </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/rogue.png" alt="">

            </div>
            <span class="list__item-perk-text"> Rogue </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/mage.png" alt="">

            </div>
            <span class="list__item-perk-text"> Mage </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/shaman.png" alt="">

            </div>
            <span class="list__item-perk-text"> Shaman </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/monk.png" alt="">

            </div>
            <span class="list__item-perk-text"> Monk </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warlock.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warlock </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/community/chat.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Local chat</h4>
          <h5 class="list__item-desc">Professions-related conversations.</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Professions issues</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">5</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">10</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/community/avatar.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">CatWoman</div>
            <div class="list__item-time">A moment ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/death-knight.png" alt="">

            </div>
            <span class="list__item-perk-text"> Death Knight </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/paladin.png" alt="">

            </div>
            <span class="list__item-perk-text"> Paladin </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warrior.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warrior </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/druid.png" alt="">

            </div>
            <span class="list__item-perk-text"> Druid </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/priest.png" alt="">

            </div>
            <span class="list__item-perk-text"> Priest </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/hunter.png" alt="">

            </div>
            <span class="list__item-perk-text"> Hunter </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/rogue.png" alt="">

            </div>
            <span class="list__item-perk-text"> Rogue </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/mage.png" alt="">

            </div>
            <span class="list__item-perk-text"> Mage </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/shaman.png" alt="">

            </div>
            <span class="list__item-perk-text"> Shaman </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/monk.png" alt="">

            </div>
            <span class="list__item-perk-text"> Monk </span>
          </div>

          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/warlock.png" alt="">

            </div>
            <span class="list__item-perk-text"> Warlock </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
</div>