<div class="list" data-spollers>
  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/official/announcement.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Announcement</h4>
          <h5 class="list__item-desc">What the topic is about</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Fresh TBC Server "Netherwing" - Release on February 27th. Full...</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">5</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">10</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/official/avatar-1.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">CatWoman</div>
            <div class="list__item-time">A moment ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pve.png" alt="">

            </div>
            <span class="list__item-perk-text"> Raids & Dungeons </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pvp.png" alt="">

            </div>
            <span class="list__item-perk-text"> Player vs Player </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/official/suggestions.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Suggestions</h4>
          <h5 class="list__item-desc">What the topic is about + smth</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Fresh TBC Server "Netherwing" - Release on February 27th. Full...</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">8</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">64</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/official/avatar-2.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">BritishMan</div>
            <div class="list__item-time">48 min. ago</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pve.png" alt="">

            </div>
            <span class="list__item-perk-text"> Raids & Dungeons </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pvp.png" alt="">

            </div>
            <span class="list__item-perk-text"> Player vs Player </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="list__item">
    <div class="list__item-head" data-spoller>
      <div class="list__item-left">
        <div class="list__item-icon">
          <img src="./img/forum/official/support.svg" alt="">
        </div>

        <div class="list__item-col">
          <h4 class="list__item-title">Support Q&A</h4>
          <h5 class="list__item-desc">What the topic is about + smth</h5>
        </div>

      </div>

      <div class="list__item-col list__item-middle">
        <p class="list__item-text">Fresh TBC Server "Netherwing" - Release on February 27th. Full...</p>
        <p class="list__item-desc">Last post</p>
      </div>

      <div class="list__item-right">
        <div class="list__item-counters">
          <div class="list__item-amount">
            <p class="list__item-count">2</p>
            <p class="list__item-desc">topics</p>
          </div>
          <div class="list__item-amount">
            <p class="list__item-count">112</p>
            <p class="list__item-desc">posts</p>
          </div>
        </div>

        <div class="list__item-profile">
          <div class="list__item-avatar">
            <img src="./img/forum/official/avatar-3.png" alt="">
          </div>

          <div class="list__item-user">
            <div class="list__item-username">Bug27</div>
            <div class="list__item-time">Fab 25, 2025</div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="list__item-perks">
        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pve.png" alt="">

            </div>
            <span class="list__item-perk-text"> Raids & Dungeons </span>
          </div>
        </div>

        <div class="list__item-perks-col">
          <div class="list__item-perk">
            <div class="list__item-perk-icon">
              <img src="./img/forum/icons/pvp.png" alt="">

            </div>
            <span class="list__item-perk-text"> Player vs Player </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>