<ul class="sidebar">
  <li class="sidebar__item">
    <a href="./forum-official.html" class="sidebar__link active">Official </a>
  </li>

  <li class="sidebar__item">
    <a href="./forum-community.html" class="sidebar__link ">Community </a>
  </li>

  <li class="sidebar__item">
    <a href="#" class="sidebar__link ">The Great Archive </a>
  </li>

  <li class="sidebar__item">
    <a href="#" class="sidebar__link ">Statistics </a>
  </li>

  <li class="sidebar__item">
    <a href="#" class="sidebar__link ">Who's Online </a>
  </li>
</ul>